.fusion-secondary-header{
  border-bottom: 2px solid #aca563;
}
.top-header-holder{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  & > div {
    border: 1px solid #aca563;
    border-top: none;
    border-bottom: none;
    padding: 0;
    line-height: 45px;
    text-align: center;
    color: #333333;

    a{
      color: #333333;
      text-transform: none;
    }
  }
  & > .language-changer{
    flex-basis: 125px;
  }
  & > .social-icons{
    flex-basis: 110px;
  }
  & > .contact-phone{
    flex-basis: 140px;
  }
  & > .contact-address{
    flex-basis: 200px;
    color: $color-red;
  }
  & > .contact-email{
    flex-basis: 180px;
    text-align: center;
  }
  & > .searcher{
    flex:1;

    .searcher-holder{
      position: relative;
      button{
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 45px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 14px;
      }
    }

    input[type=text]{
      height: 45px;
      line-height: 45px;
      padding-right: 45px;
      background: transparent;
      border: none;
      font-size: 0.83rem;
      color: black;
      &:focus{
        outline: none;
        background: #f5f2e0;
      }
    }
  }
}

.language-changer {
  .current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    & > div{
      line-height: 45px;
      position: relative;
    }
    .sep{
      padding: 0 0 0 25px;
    }
  }

  .flag {
    position: relative;
    flex-basis: 40px;
    height: 100%;

    img {
      top: 50%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    }
  }

  .lang-list {
    display: none;
    position: absolute;
    top: 45px;
    left: -1px;
    right: -1px;
    z-index: 1;
    background: #f3eebd;
    border: 1px solid #aca563;
    border-top: none;

    .lang{
      &.current-lang{
        background: #c7bf8c;
        color: white;
      }
    }

    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      .flag {
        position: relative;
        flex-basis: 40px;
        height: 100%;

        img {
          top: 50%;
          left: 50%;
          position: absolute;
          -webkit-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
        }
      }
    }
  }

  & > .wrapper {
    position: relative;
    &:hover{
      .lang-list{
        display: block !important;
      }
    }
  }
}
.fusion-page-title-bar .fusion-page-title-row h1{
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.4;
}
.fusion-main-menu{
  margin-top: 25px;
}
.fusion-main-menu > ul > li{
  border-top: 3px solid transparent !important;
  &:hover{
    background: #e6e1c0;
    border: 1px solid #ccc9bc;
    border-top: 3px solid #c7ac79 !important;
  }
}
.fusion-main-menu .sub-menu{
  border: 1px solid #ccc9bc;
  left: -1px;
}
.fusion-main-menu .sub-menu li{
  border-left: 2px solid transparent !important;

  &:hover, &.current-menu-item{
    border-left: 4px solid #b05540 !important;
  }
}
.fusion-main-menu > ul > li > a {
  text-transform: uppercase;
  padding: 0 15px;
}
.fusion-social-networks .fusion-social-network-icon{
  border: 1px solid #54534c;
  font-size: 13px;
  border-radius: 20px;
  padding: 4px;
  margin: 0 5px 5px;
}
.footer-contacts-holder{
  h2{
    font-family: 'Roboto' !important;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  .contact-lines{
    & > div {
      padding: 8px 0;
      border-bottom: 1px solid #c7baa0;
      i {
        margin: 0 10px 0 0;
      }
    }
  }
  .socials{
    padding: 15px 0 0 0;
    a{
      border-color: white;
      color: white;
      font-size: 15px;
      padding: 10px;
    }
    .fusion-social-network-icon:before{
      color: white;
    }
  }
}

.bloglist-holder-header{
  background: #fdfdfd;
  border: 1px solid #d2cdb0;
  .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    & > div {
      padding: 0;
      line-height: 45px;
    }

    .title{
      padding-left: 15px;
      font-size: 1.1rem;

      strong{
        color: $color-red;
      }
    }
    .goto{
      a{
        display: block;
        padding: 0 15px;
        background: #f7f4e5;
        border-left: 1px solid #d2cdb0;
      }
    }
  }
}

.bloglist-holder{
  margin: 0 -15px;
  position: relative;
  padding: 25px 0 0 0;

  .slick-arrow{
    position: absolute;
    top: 20px;
    background: #a79851;
  }
  .slick-prev:before, .slick-next:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
  }
  .slick-prev{
    right: 40px;
    left: auto;
  }
  .slick-prev:before{
    content:'\f104';
  }
  .slick-next{
    right: 15px;
    left: auto;
  }
  .slick-next:before{
    content:'\f105';
  }
  &.view-of-post{
    article {
      padding: 15px;
      & > .wrapper{
        background: white;
        border: 1px solid #e2dfcb;

        .image{
          position: relative;
          overflow: hidden;
          height: 240px;

          img{
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            max-height: 100%;
            width: auto;
            max-width: initial;
            transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
          }
        }

        .datas{
          padding: 15px;
          .title{
            h3{
              margin: 0 0 10px 0;

              a{
                color: #333333;
                line-height: 1.3;
                display: block;
                font-weight: bold;
                font-size: 1.05rem;
              }
            }
          }
          .incat{
            a{
              text-transform: uppercase;
              color: $color-red;
              font-size: 0.7rem;
            }
          }
          .more-to{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0 0 0;

            .date{
              text-transform: uppercase;
              color: #5c5c5c;
              font-size: 0.7rem;
            }

            .goto{
              a{
                background: #737373;
                color: white;
                font-size: 0.8rem;
                padding: 5px 12px;
                &:hover{
                  background: $color-red;
                }
              }
            }
          }
        }
      }
    }
  }

  &.view-of-video{
    .video-stack {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
    }
    .video-item{
      flex-basis: calc(100% / 2);
      padding: 15px;
      height: 320px;
      overflow: hidden;
    }
  }

}
.top-highlight-holder{
  .right-panel{
    margin-top: -132px !important;
  }
}
.quick-nav-holder{
  background: #fffadb;

  .wrapper{
    padding: 10px;
    & > div{
      padding: 0;
      margin: -1px 0;
    }
  }

  a, a:link, a:visited {
    border-collapse: collapse;
    display: block;
    padding: 8px 10px;
    background: white;
    text-transform: uppercase;
    font-size: 1rem;
    color: #545353;
    border: 1px solid #dedede;

    i{
      color: #efd328;
      width: 32px;
      text-align: center;
      font-size: 20px;
      vertical-align: text-bottom;
      margin-right: 5px;
    }
  }
}
.weather-app-holder{
  padding: 4px 10px;
  & > .wrapper{
    background: white;
    border:1px solid #dedede;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

    .info{
      flex: 1;
    }
    .pic {
      flex-basis: 30%;
      position: relative;

      img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 140%;
        max-width: initial;
      }
    }

    .date{
      font-size: 1rem;
      font-weight: 300;
      color: #d8d8d8;
      .weekday{
        font-size: 1.1rem;
      }
    }

    .temp{
      line-height: 1;
      margin-top: 8px;
      font-size: 4rem;
      color: #c7c7c7;
    }
  }
}
.page-hightlight-spot-holder{
  .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0;

    .image{
      flex-basis: 30%;
    }

    .cont{
      padding: 0 15px 0 0;
      flex: 1;
      color: #383736;
      font-size: 1rem;

      .sep{
        background: #d8d8d8;
        height: 2px;
        width: 60%;
        margin: 5px 0 10px 0;
        position: relative;

        &:after{
          position: absolute;
          content: "";
          left:0;
          height: 2px;
          width: 20%;
          background: #737373;
          top: 0;
        }
      }
      .date{
        font-size: 1.1rem;
      }
      .title{
        font-weight: bold;
        font-size: 2.4rem;
        color:#3a3936;
      }
      .desc{
        font-size: 0.9rem;
      }
      .next-more{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        margin: 15px 0 0 0;
        justify-content: space-between;
        align-items: center;
        .btn{
          a:link,a:visited{
            background: #757575 !important;
            color: white;
            padding: 6px 30px;
            font-size: 1.1rem;
            text-decoration: none;
          }
          a:hover{
            background: #a93025 !important;
          }
        }

        .share{
        }
      }
    }
  }
}
.bwg_loading_div_2{
  background-color:#f7f3e4 !important;
}
.fusion-post-content-wrapper{
  background: white !important;
}
.fusion-content-sep{
    margin-top: 10px;
}
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content a{
  color: white !important;
}
.fusion-blog-layout-grid .fusion-post-content-container,
.fusion-blog-layout-timeline .fusion-post-content-container{
  margin-top: 5px;
}
#wrapper .fusion-vertical-menu-widget .menu li{
  border-bottom: 1px solid white;
  padding: 0;
}
#wrapper .fusion-vertical-menu-widget .menu li:last-child{
  border-bottom: none;
}
#wrapper .fusion-vertical-menu-widget .menu li > a{
  padding: 8px 0 !important;
  text-transform: uppercase;
  color: white;
  font-weight: normal !important;
}
#wrapper .fusion-vertical-menu-widget .menu li.current_page_item > a{
  border-right-color: transparent;
  font-weight: bold !important;
  color: white;
}
